# Database configuration
MONGODB_URI=mongodb://0.0.0.0/library-management

# Server configuration
PORT=3000

# JWT configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d

# Email configuration
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=example@example.com
EMAIL_PASS=examplepassword

# Application configuration
NODE_ENV=development